@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Information";
    ViewData["SubTitle"] = "Ryan Adams";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["SubTitle"]</h3>
@*
    <h3>@Model.Message</h3>
*@

<address>
    26 Lingfield Road<br />
    Yarm, TS15 9RB<br />
    <abbr title="Phone">P:</abbr>
    07456876458
</address>

<address>
    <strong>University Email:</strong> <a href="mailto:q5117346@live.tees.ac.uk">Q5117346@live.tees.ac.uk</a><br />
    <strong>Personal Email:</strong> <a href="mailto:ryanadams267@gmail.com">RyanAdams267@gmail.com</a>
</address>
