@page
@model IndexModel
@{
    ViewData["Title"] = "Dogs";
}
<h2>@ViewData["Title"]</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 750px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6YloPwWoNA7HcVfD1sVLQuvHqqwnLAAA&libraries=visualization&callback=initMap"></script>
    <script>

        var locations2 = {
            AB: {
                center: { lat: 57.290349, lng: -2.319781 },
                population: 143364.94
            },
            AL: {
                center: { lat: 51.776472, lng: -0.286063 },
                population: 49365.20
            },
            B: {
                center: { lat: 52.5, lng: - 1.9 },
                population: 188773.3393
            },
            BA: {
                center: { lat: 51.220643, lng: -2.421682 },
                population: 123110.59
            },
            BB: {
                center: { lat: 53.785140, lng: -2.335075 },
                population: 80340.54
            },
            BD: {
                center: { lat: 53.832208, lng: -1.836429 },
                population: 105911.4602
            },
            BH: {
                center: { lat: 50.750196, lng: -1.892177 },
                population: 119053.73
            },
            BL: {
                center: { lat: 53.587389, lng: -2.408178 },
                population: 45145.94
            },
            BN: {
                center: { lat: 50.829721, lng: -0.113192 },
                population: 184185.04
            },
            BR: {
                center: { lat: 51.393841, lng: 0.047418 },
                population: 26210.44
            },
            BS: {
                center: { lat: 51.444790, lng: -2.631664 },
                population: 197582.47
            },
            CA: {
                center: { lat: 54.720265, lng: -3.107657 },
                population: 122937.37
            },
            CB: {
                center: { lat: 52.206342, lng: 0.209585 },
                population: 127547.78
            },
            CF: {
                center: { lat: 51.552552, lng: -3.328342 },
                population: 134160.31
            },
            CH: {
                center: { lat: 53.291691, lng: -3.023646 },
                population: 172691.63
            },
            CM: {
                center: { lat: 51.755374, lng: 0.400386 },
                population: 139512.18
            },
            CO: {
                center: { lat: 51.901052, lng: 0.931200 },
                population: 84322.79
            },
            CR: {
                center: { lat: 51.356415, lng: -0.099431 },
                population: 34484.95
            },
            CT: {
                center: { lat: 51.255775, lng: 1.231356 },
                population: 108705.51
            },
            CV: {
                center: { lat: 52.371754, lng: -1.500148 },
                population: 136180.78
            },
            CW: {
                center: { lat: 53.156965, lng: -2.458187 },
                population: 77588.62
            },
            DA: {
                center: { lat: 51.441071, lng: 0.223186 },
                population: 55577.61
            },
            DD: {
                center: { lat: 56.543588, lng: -2.853867 },
                population: 63414.51999
            },
            DE: {
                center: { lat: 52.931045, lng: -1.500189 },
                population: 175242.95
            },
            DG: {
                center: { lat: 55.022046, lng: -3.885037 },
                population: 74355.27
            },
            DH: {
                center: { lat: 54.825762, lng: -1.618147 },
                population: 45125.25
            },
            DL: {
                center: { lat: 54.533087, lng: -1.668231 },
                population: 92038.60
            },
            DN: {
                center: { lat: 53.541914, lng: -0.724901 },
                population: 116068.43
            },
            DT: {
                center: { lat: 50.758729, lng: -2.485623 },
                population: 82969.06
            },
            DY: {
                center: { lat: 52.453213, lng: -2.181056 },
                population: 63692.69
            },
            E: {
                center: { lat: 51.54, lng: 0 },
                population: 42771.58
            },
            EC: {
                center: { lat: 51.520099, lng: -0.097770 },
                population: 1410.799176
            },
            EH: {
                center: { lat: 55.923894, lng: -3.228068 },
                population: 175966.15
            },
            EN: {
                center: { lat: 51.683952, lng: -0.083489 },
                population: 59504.99
            },
            EX: {
                center: { lat: 50.831909, lng: -3.675256 },
                population: 230499.98
            },
            FK: {
                center: { lat: 56.077942, lng: -3.860002 },
                population: 49326.79
            },
            FY: {
                center: { lat: 53.827555, lng: -3.020412 },
                population: 38330.05
            },
            G: {
                center: { lat: 55.866, lng: -4.257 },
                population: 150376.38
            },
            GL: {
                center: { lat: 51.832990, lng: -2.178714 },
                population: 189351.20
            },
            GU: {
                center: { lat: 51.221508, lng: -0.719732 },
                population: 183027.90
            },
            HA: {
                center: { lat: 51.586906, lng: -0.338994 },
                population: 39921.11
            },
            HD: {
                center: { lat: 53.634357, lng: -1.782040 },
                population: 37839.05
            },
            HG: {
                center: { lat: 54.042242, lng: -1.552670 },
                population: 38828.09
            },
            HP: {
                center: { lat: 51.724700, lng: -0.690324 },
                population: 94672.17
            },
            HR: {
                center: { lat: 52.068268, lng: -2.726602 },
                population: 57718.66
            },
            HS: {
                center: { lat: 57.970893, lng: -6.708819 },
                population: 4411.407266
            },
            HU: {
                center: { lat: 53.770769, lng: -0.351766 },
                population: 96822.80
            },
            HX: {
                center: { lat: 53.719583, lng: -1.895555 },
                population: 45786.05
            },
            IG: {
                center: { lat: 51.587644, lng: 0.074079 },
                population: 20571.31
            },
            IP: {
                center: { lat: 52.203548, lng: 1.083165 },
                population: 160017.94
            },
            IV: {
                center: { lat: 57.599299, lng: -4.194213 },
                population: 67851.4077
            },
            KA: {
                center: { lat: 55.564126, lng: -4.604043 },
                population: 76825.83
            },
            KT: {
                center: { lat: 51.357825, lng: -0.343329 },
                population: 71410.07
            },
            KW: {
                center: { lat: 58.656301, lng: -3.288889 },
                population: 29645.53
            },
            KY: {
                center: { lat: 56.165242, lng: -3.198738 },
                population: 79813.06
            },
            L: {
                center: { lat: 53.4156, lng: -2.9593 },
                population: 87111.36599
            },
            LA: {
                center: { lat: 54.172724, lng: -2.907087 },
                population: 96729.14
            },
            LD: {
                center: { lat: 52.130929, lng: -3.340382 },
                population: 24530.80
            },
            LE: {
                center: { lat: 52.643376, lng: -1.135678 },
                population: 132824.37
            },
            LL: {
                center: { lat: 53.129122, lng: -3.727496 },
                population: 187710.50
            },
            LN: {
                center: { lat: 53.255658, lng: -0.349464 },
                population: 64219.12
            },
            LS: {
                center: { lat: 53.822664, lng: -1.553735 },
                population: 140303.4493
            },
            LU: {
                center: { lat: 51.896248, lng: -0.501755 },
                population: 38692.60
            },
            M: {
                center: { lat: 53.48, lng: - 2.25 },
                population: 89171.99099
            },
            ME: {
                center: { lat: 51.332462, lng: 0.588205 },
                population: 101594.72
            },
            MK: {
                center: { lat: 52.063432, lng: -0.661359 },
                population: 90908.37782
            },
            ML: {
                center: { lat: 55.774883, lng: -3.940563 },
                population: 68934.75
            },
            N: {
                center: { lat: 51.6, lng: - 0.12 },
                population: 57147.59
            },
            NE: {
                center: { lat: 55.041674, lng: -1.650211 },
                population: 209196.57
            },
            NG: {
                center: { lat: 53.010209, lng: -1.064325 },
                population: 214807.07
            },
            NN: {
                center: { lat: 52.296480, lng: -0.834507 },
                population: 119041.40
            },
            NP: {
                center: { lat: 51.683712, lng: -3.019313 },
                population: 96298.97
            },
            NR: {
                center: { lat: 52.647783, lng: 1.336314 },
                population: 194752.11
            },
            NW: {
                center: { lat: 51.555115, lng: -0.196190 },
                population: 42632.09
            },
            OL: {
                center: { lat: 53.583590, lng: -2.124637 },
                population: 47920.03
            },
            OX: {
                center: { lat: 51.791785, lng: -1.293300 },
                population: 185424.63
            },
            PA: {
                center: { lat: 55.921833, lng: -4.788981 },
                population: 54475.26
            },
            PE: {
                center: { lat: 52.670160, lng: -0.009440 },
                population: 168482.75
            },
            PH: {
                center: { lat: 56.570543, lng: -3.736665 },
                population: 43594.14
            },
            PL: {
                center: { lat: 50.431497, lng: -4.341010 },
                population: 144595.37
            },
            PO: {
                center: { lat: 50.800099, lng: -1.047500 },
                population: 169077.44
            },
            PR: {
                center: { lat: 53.724037, lng: -2.754604 },
                population: 98048.05
            },
            RG: {
                center: { lat: 51.402999, lng: -1.034270 },
                population: 178768.80
            },
            RH: {
                center: { lat: 51.108474, lng: -0.209620 },
                population: 126656.10
            },
            RM: {
                center: { lat: 51.548675, lng: 0.217798 },
                population: 47495.63
            },
            S: {
                center: { lat: 53.359, lng: - 1.366 },
                population: 168015.1433
            },
            SA: {
                center: { lat: 51.771411, lng: -4.224738 },
                population: 236393.39
            },
            SE: {
                center: { lat: 51.466677, lng: -0.033117 },
                population: 45104.13
            },
            SG: {
                center: { lat: 51.951161, lng: -0.157727 },
                population: 100422.62
            },
            SK: {
                center: { lat: 53.370094, lng: -2.098658 },
                population: 116956.58
            },
            SL: {
                center: { lat: 51.516210, lng: -0.643938 },
                population: 69968.15908
            },
            SM: {
                center: { lat: 51.363339, lng: -0.185607 },
                population: 21586.36
            },
            SN: {
                center: { lat: 51.498724, lng: -1.906833 },
                population: 166905.23
            },
            SO: {
                center: { lat: 50.939218, lng: -1.387521 },
                population: 125938.86
            },
            SP: {
                center: { lat: 51.107026, lng: -1.789623 },
                population: 85409.15
            },
            SR: {
                center: { lat: 54.874064, lng: -1.389281 },
                population: 18092.65362
            },
            SS: {
                center: { lat: 51.562712, lng: 0.596111 },
                population: 67284.78
            },
            ST: {
                center: { lat: 52.977359, lng: -2.143300 },
                population: 134237.58
            },
            SW: {
                center: { lat: 51.461567, lng: -0.168988 },
                population: 74847.64
            },
            SY: {
                center: { lat: 52.666074, lng: -3.053855 },
                population: 149734.34
            },
            TA: {
                center: { lat: 51.056685, lng: -3.069390 },
                population: 130047.06
            },
            TD: {
                center: { lat: 55.612402, lng: -2.529929 },
                population: 46992.26
            },
            TF: {
                center: { lat: 52.716189, lng: -2.460999 },
                population: 61394.15
            },
            TN: {
                center: { lat: 51.084152, lng: 0.441832 },
                population: 169676.44
            },
            TQ: {
                center: { lat: 50.457000, lng: -3.621568 },
                population: 91945.75
            },
            TR: {
                center: { lat: 50.210307, lng: -5.245763 },
                population: 108624.10
            },
            TS: {
                center: { lat: 54.584852, lng: -1.221442 },
                population: 77859.29
            },
            TW: {
                center: { lat: 51.446876, lng: -0.392389 },
                population: 67507.00
            },
            UB: {
                center: { lat: 51.529003, lng: -0.416846 },
                population: 28576.15
            },
            W: {
                center: { lat: 51.5, lng: - 0.23 },
                population: 44147.81
            },
            WA: {
                center: { lat: 53.391239, lng: -2.596829 },
                population: 101177.01
            },
            WC: {
                center: { lat: 51.519091, lng: -0.121711 },
                population: 1642.086815
            },
            WD: {
                center: { lat: 51.661073, lng: -0.389953 },
                population: 40611.76
            },
            WF: {
                center: { lat: 53.685304, lng: -1.493759 },
                population: 82395.86
            },
            WN: {
                center: { lat: 53.533854, lng: -2.636613 },
                population: 39239.43
            },
            WR: {
                center: { lat: 52.165733, lng: -2.186318 },
                population: 84927.56
            },
            WS: {
                center: { lat: 52.648306, lng: -1.954995 },
                population: 72588.70
            },
            WV: {
                center: { lat: 52.580178, lng: -2.168769 },
                population: 58635.50
            },
            YO: {
                center: { lat: 54.071163, lng: -0.844066 },
                population: 169880.05
            },
            ZE: {
                center: { lat: 60.226824, lng: -1.201881 },
                population: 7553.95
            }
        };

        var firebase = new Firebase("https://mapme-fyp.firebaseio.com/");
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 54.9, lng: -2.5 },
                zoom: 6,
                styles: [{
                    featureType: 'poi',
                    stylers: [{ visibility: 'off' }]
                }, {
                    featureType: 'transit.station',
                    stylers: [{ visibility: 'off' }]
                }],
                disableDoubleClickZoom: true
            });

            for (var location in locations2) {
                // Add the circle for this postcode to the map.
                var postcodeCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 1,
                    fillColor: '#FF0000',
                    fillOpacity: 0.1,
                    map: map,
                    center: locations2[location].center,
                    radius: Math.sqrt(locations2[location].population) * 50,
                    name: locations2.location,
                    population: locations2[location].population,
                    clickable: true
                });
            }

            var infoWindow = new google.maps.InfoWindow({
                content: '<div><strong>' + locations.location + '</strong><br>' + 'Dog Population: ' + locations[location].population + '</div>'
            });

            google.maps.event.addListener(postcodeCircle, 'click', function (ev) {
                infoWindow.setPosition(ev.latLng);
                infoWindow.open(map);
            });
        }
    </script>
</body>
</html>